.card-deck-container {
  width: 100%;
  /* max-width: 1200px;*/
  position: relative;
  border-radius: 2px;
  padding: 40px 10px 30px 10px;
  margin: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex: 1 1 1;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.card-item {
  padding: 5px;
  max-width: 330px;
  min-width: 330px;
}

.mat-card-header .mat-card-title {
  margin-right: 10px;
}

.mat-card:hover {
  box-shadow: 0 0 0 1px #444343;
  /*outline: 1px solid #444343;*/
  border-radius: 3px;
  transition: border-width 0.33s linear;
}

.note-options {
  position: absolute;
  right: 10px;
  top: 10px;
}
